apiVersion: argocd-image-updater.argoproj.io/v1alpha1
kind: ImageUpdater
metadata:
  name: {{ argocd_schedule_app_name }}
  namespace: {{ argocd_namespace }}
spec:
  applicationRefs:
    - namePattern: "{{ argocd_schedule_app_name }}"
      images:
        - alias: {{ argocd_schedule_app_name }}
          imageName: "{{ argocd_schedule_image_repository }}:{{ argocd_schedule_version }}"
          manifestTargets:
            helm:
              name: image.repository
              tag: image.tag
          commonUpdateSettings:
            updateStrategy: digest
      writeBackConfig:
        method: argocd
