#cloud-config
autoinstall:
  version: 1
  identity:
    hostname: {{ item.key }}
    username: ubuntu
    password: "{{ 'changeme' | password_hash('sha512') }}"
  storage:
    layout:
      name: direct
    config:
      - type: disk
        match:
          serial: "{{ item.value.wwn }}"
        wipe: true
        ptable: gpt
        id: disk0
      - type: partition
        device: disk0
        size: 512M
        id: boot
        flag: boot
      - type: partition
        device: disk0
        size: -1
        id: rootfs
  locale: en_US
  keyboard:
    layout: us

