apiVersion: v1
kind: ConfigMap
metadata:
  name: media-server-nginx-conf
  namespace: {{ media_server_namespace }}
data:
  default.conf: |
{{ lookup('template', 'nginx.conf.j2') | indent(4, first=True) }}
