apiVersion: v1
kind: Service
metadata:
  name: media-server
  namespace: {{ media_server_namespace }}
spec:
  selector:
    app: media-server
  ports:
    - name: http
      port: 80
      targetPort: http
