# {{ ansible_managed }}
# Kubernetes prod cluster ingress port forwarding rules

prod_ingress_ext_ip = "{{ prod_ingress_ext_ip }}"
prod_ingress_int_ip = "{{ prod_ingress_int_ip }}"
prod_media_ingress_int_ip = "{{ prod_media_ingress_int_ip }}"
prod_media_ext_ip = "{{ prod_media_ext_ip }}"
int_if = "{{ fw_int_if }}"
ext_if = "{{ fw_ext_if }}"
lan_net = "{{ fw_lan_net }}"

# Translation rules (rdr/nat) - must come before filter rules

# HTTP/HTTPS
rdr on $ext_if proto tcp from any to $prod_ingress_ext_ip port { 80, 443 } -> $prod_ingress_int_ip
rdr on $int_if proto tcp from $lan_net to $prod_ingress_ext_ip port { 80, 443 } -> $prod_ingress_int_ip
nat on $int_if proto tcp from $lan_net to $prod_ingress_int_ip port { 80, 443 } -> ($int_if:0)

# Media/Stream (MPEG-TS ingest on 158.36.191.230:5565 -> cubemap on .105:5004)
rdr on $ext_if proto udp from any to $prod_media_ext_ip port 5565 -> $prod_media_ingress_int_ip port 5004

# Filter rules (pass)

pass in quick on $ext_if proto tcp from any to $prod_ingress_int_ip port { 80, 443 }
pass in quick on $int_if proto tcp from $lan_net to $prod_ingress_int_ip port { 80, 443 } scrub (max-mss 1400)
pass in quick on $ext_if proto udp from any to $prod_media_ingress_int_ip port 5004
