// Managed by Ansible

options {
    directory "{{ dns_zone_dir }}";
    listen-on { any; };
    allow-query { any; };
    recursion yes;

    forwarders {
    {% for fwd in dns_forwarders %}
        {{ fwd }};
    {% endfor %}
    };
    forward only;

    pid-file "/var/run/named/pid";
    dump-file "/var/dump/named_dump.db";
    statistics-file "/var/stats/named.stats";
};

// Zone configuration is in named.conf.d
include "/usr/local/etc/namedb/named.conf.d/*";
