apiVersion: v1
kind: Service
metadata:
  name: junos-exporter
  namespace: {{ junos_exporter_namespace }}
  labels:
    app: junos-exporter
spec:
  selector:
    app: junos-exporter
  ports:
    - name: metrics
      port: {{ junos_exporter_port }}
      targetPort: metrics
