---

- name: Load host definitions
  ansible.builtin.include_vars:
    file: "data/hosts.yml"
    name: dc1_hosts

- name: Render zone configuration
  become: yes
  ansible.builtin.template:
    src: "zones.conf.j2"
    dest: "{{ dns_named_conf_d }}/zones.conf"
    owner: root
    group: wheel
    mode: "0644"
  notify: reload named

- name: Render forward zone for {{ dns_zone_name }}
  become: yes
  ansible.builtin.template:
    src: "db.dc1.frikanalen.no.j2"
    dest: "{{ dns_zone_dir }}/db.{{ dns_zone_name }}"
    owner: root
    group: wheel
    mode: "0644"
  vars:
    hosts: "{{ dc1_hosts.hosts }}"
  notify: reload named

- name: Render reverse zones
  become: yes
  ansible.builtin.template:
    src: "db.{{ item }}.j2"
    dest: "{{ dns_zone_dir }}/db.{{ item }}"
    owner: root
    group: wheel
    mode: "0644"
  loop: "{{ dns_reverse_prefixes }}"
  vars:
    hosts: "{{ dc1_hosts.hosts }}"
  notify: reload named
