$TTL {{ dns_soa_minimum }}
@   IN SOA  {{ dns_soa_mname }} {{ dns_soa_rname }} (
        {{ dns_soa_serial }} ; serial
        {{ dns_soa_refresh }} ; refresh
        {{ dns_soa_retry }}   ; retry
        {{ dns_soa_expire }}  ; expire
        {{ dns_soa_minimum }} ; minimum
)

{% for ns in dns_ns_records %}
    IN NS   {{ ns }}
{% endfor %}

; PTR records for 192.168.4.0/24
{% for hostname, data in hosts.items() if data.ip_cidr is defined %}
{% set ip = data.ip_cidr.split('/')[0] %}
{% if ip.startswith('192.168.4.') %}
{% set last = ip.split('.')[3] %}
{{ last }}    IN PTR   {{ hostname }}.{{ dns_zone_name }}.
{% endif %}
{% endfor %}

