// Managed by Ansible - dynamic zones (RFC2136)

{% for zone in dns_dynamic_zones %}
zone "{{ zone.name }}" IN {
    type master;
    file "db.{{ zone.name }}";
    dnssec-policy default;
    inline-signing yes;
    allow-update { key {{ zone.tsig_key_name }}; };
    allow-transfer { key {{ zone.tsig_key_name }}; };
};

{% endfor %}
