apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ argocd_stream_app_name }}
  namespace: {{ argocd_namespace }}
spec:
  project: default
  source:
    repoURL: "{{ argocd_stream_repo_url }}"
    targetRevision: "{{ argocd_stream_version }}"
    path: "{{ argocd_stream_repo_path }}"
    helm:
      values: |
{{ argocd_stream_values | to_nice_yaml(indent=2) | indent(8, first=True) }}
  destination:
    server: https://kubernetes.default.svc
    namespace: {{ argocd_stream_namespace }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
