# {{ ansible_managed }}
# Main PF configuration for util1

# Interfaces
ext_if = "vtnet1"
int_if = "vtnet0"

# Addresses
dev_ingress_ext_ip = "{{ dev_ingress_ext_ip }}"

# Networks
int_net = "192.168.3.0/24"

# Options
set skip on lo0
set block-policy drop
set loginterface $ext_if

# Scrub - normalize packets
scrub on $ext_if all no-df fragment reassemble

# NAT for internal network (exclude hairpin NAT destinations handled by anchors)
nat on $ext_if from $int_net to ! $dev_ingress_ext_ip -> ($ext_if)

# BEGIN ANSIBLE MANAGED BLOCK - ingress_prod NAT
# END ANSIBLE MANAGED BLOCK - ingress_prod NAT

# Drop-in configuration files go here (anchors added by their respective roles)

# BEGIN ANSIBLE MANAGED BLOCK - ingress_prod
# END ANSIBLE MANAGED BLOCK - ingress_prod

# Default block inbound
block in log all

# Allow all outbound
pass out all keep state

# Allow inbound on internal interface
pass in on $int_if from $int_net keep state

# Allow ICMP
pass in inet proto icmp icmp-type { echoreq, unreach }

pass in on $ext_if inet proto tcp to ($ext_if) port 22 flags S/SA keep state
pass in on $int_if inet proto tcp to ($int_if) port 22 flags S/SA keep state

# DNS
pass in on $ext_if inet proto tcp to ($ext_if) port 53 flags S/SA keep state
pass in on $ext_if inet proto udp to ($ext_if) port 53 keep state


