# {{ ansible_managed }}
# Kubernetes dev cluster ingress port forwarding rules

ingress_dev_ip = "192.168.3.90"

# HTTP/HTTPS
rdr pass on vtnet1 proto tcp from any to $ext_ip port 80 -> $ingress_dev_ip port 80
rdr pass on vtnet1 proto tcp from any to $ext_ip port 443 -> $ingress_dev_ip port 443
