- name: Install resolv.conf
  ansible.builtin.copy:
    dest: /etc/resolv.conf
    mode: '0644'
    content: |
      search dc1.frikanalen.no frikanalen.no
      nameserver 192.168.3.2
      nameserver 129.240.2.3
      nameserver 129.240.2.27

# Debian-specific tasks
- name: Update apt cache
  ansible.builtin.apt:
    update_cache: yes
  when: ansible_os_family == "Debian"

# FreeBSD-specific tasks
- name: Ensure sudo group exists
  become: yes
  ansible.builtin.group:
    name: sudo
    state: present
  when: ansible_os_family == "FreeBSD"

- name: Ensure bash is installed
  become: yes
  ansible.builtin.pkgng:
    name: bash
    state: present
  when: ansible_os_family == "FreeBSD"

- name: Link bash to /bin/bash
  become: yes
  ansible.builtin.file:
    src: /usr/local/bin/bash
    dest: /bin/bash
    owner: root
    group: wheel
    mode: 0755
    state: link
    force: yes
    follow: no
  when: ansible_os_family == "FreeBSD"
