- name: Install resolv.conf
  ansible.builtin.copy:
    dest: /etc/resolv.conf
    mode: '0644'
    content: |
      search dc1.frikanalen.no frikanalen.no
      nameserver 192.168.3.2
      nameserver 129.240.2.3
      nameserver 129.240.2.27
