apiVersion: v1
kind: Secret
metadata:
  name: "{{ django_db_secret_name }}"
  namespace: "{{ django_db_secret_namespace }}"
type: Opaque
stringData:
  superUserPassword: "{{ django_db_secret_super_password }}"
  replicationUserPassword: "{{ django_db_secret_replication_password }}"
  djangoPassword: "{{ django_db_secret_django_password }}"
  DATABASE_URL: "postgresql://{{ django_db_user }}:{{ django_db_secret_django_password }}@{{ django_db_host }}:{{ django_db_port }}/{{ django_db_name }}"
