apiVersion: v1
kind: Secret
metadata:
  name: "{{ cnpg_cluster_app_secret_name }}"
  namespace: "{{ cnpg_cluster_namespace }}"
type: kubernetes.io/basic-auth
stringData:
  username: "{{ cnpg_cluster_database_user }}"
  password: "{{ cnpg_cluster_app_password }}"
