apiVersion: v1
kind: Secret
metadata:
  name: "{{ cnpg_cluster_superuser_secret_name }}"
  namespace: "{{ cnpg_cluster_namespace }}"
type: kubernetes.io/basic-auth
stringData:
  username: postgres
  password: "{{ cnpg_cluster_superuser_password }}"
