apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ kubegres_backup_pvc_name }}
  namespace: {{ kubegres_backup_namespace }}
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: ""
  volumeName: {{ kubegres_backup_pv_name }}
  resources:
    requests:
      storage: {{ kubegres_backup_capacity }}
