# Form HA cluster for kubeprod
- hosts: prod-kube-1
  become: true
  roles:
    - microk8s_cluster_seed

- hosts: kubeprod:!prod-kube-1
  become: true
  vars:
    microk8s_seed_host: prod-kube-1
  roles:
    - microk8s_cluster_join

