# Form HA cluster for kubedev
- hosts: dev-kube-1
  become: true
  roles:
    - microk8s_cluster_seed

- hosts: kubedev:!dev-kube-1
  become: true
  vars:
    microk8s_seed_host: dev-kube-1
  roles:
    - microk8s_cluster_join

- hosts: kubedev
  become: true
  roles:
    - microk8s_kubectl
    - k8s_base_helm

- hosts: dev-kube-1
  vars:
    metallb_ingress_ip: "192.168.3.90/32"
  roles:
    - metallb