# Form HA cluster for kubeprod
- hosts: prod-kube-1
  become: true
  roles:
    - microk8s_cluster_seed

- hosts: kubeprod:!prod-kube-1
  become: true
  vars:
    microk8s_seed_host: prod-kube-1
  roles:
    - microk8s_cluster_join

- hosts: kubeprod
  become: true
  tags: [cluster, kubectl]
  roles:
    - microk8s_kubectl
    - k8s_base_helm

- hosts: prod-kube-1
  tags: [ingress]
  vars:
    metallb_ingress_ip: "192.168.3.104/30"
    traefik_loadbalancer_ip: "192.168.3.104"
    traefik_public_ip: "158.36.191.231"
    traefik_acme_challenge: http
  roles:
    - metallb
    - traefik
    - kubegres
    - argocd

