apiVersion: argocd-image-updater.argoproj.io/v1alpha1
kind: ImageUpdater
metadata:
  name: {{ argocd_django_app_name }}
  namespace: {{ argocd_namespace }}
spec:
  applicationRefs:
    - namePattern: "{{ argocd_django_app_name }}"
      images:
        - alias: {{ argocd_django_app_name }}
          imageName: "{{ argocd_django_image_repository }}:{{ argocd_django_version }}"
          manifestTargets:
            helm:
              name: django.image.repository
              tag: django.image.tag
          commonUpdateSettings:
            updateStrategy: digest
      writeBackConfig:
        method: argocd
