apiVersion: v1
kind: Secret
metadata:
  name: "{{ argocd_django_db_secret_name }}"
  namespace: "{{ argocd_django_namespace }}"
type: Opaque
stringData:
  superUserPassword: "{{ argocd_django_db_super_password }}"
  replicationUserPassword: "{{ argocd_django_db_replication_password }}"
  djangoPassword: "{{ argocd_django_db_django_password }}"
  DATABASE_URL: "postgresql://{{ argocd_django_db_user }}:{{ argocd_django_db_django_password }}@{{ argocd_django_db_host }}:{{ argocd_django_db_port }}/{{ argocd_django_db_name }}"
