apiVersion: v1
kind: Secret
metadata:
  name: "{{ argocd_ingest_api_secret_name }}"
  namespace: "{{ argocd_ingest_namespace }}"
type: Opaque
stringData:
  username: "{{ argocd_ingest_api_username }}"
  password: "{{ argocd_ingest_api_password }}"
