- name: Ensure sudo group exists
  become: yes
  ansible.builtin.group:
    name: sudo
    state: present

- name: Ensure bash is installed
  become: yes
  ansible.builtin.pkgng:
    name: bash
    state: present

- name: Link bash to /bin/bash
  become: yes
  ansible.builtin.file:
    src: /usr/local/bin/bash
    dest: /bin/bash
    owner: root
    group: wheel
    mode: 0755
    state: link
    force: yes
    follow: no
